.edit-article-link {
  margin-right: 1rem;
}

#upload_photo {
  float: right;
  margin-top: 1.875rem;
}

#content-input {
  min-height: 25rem;
}

.preview {
  min-height: 20rem;
  border: 1px solid #DDDDDD;
  margin-bottom: 1.275rem;
  padding: 0.275rem 0.5rem;
}