development:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: cloudy_blog_development
  pool:     5
  username: postgres
  password: postgres
  template: template0

test:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: cloudy_blog_test
  pool:     5
  username: postgres
  password: postgres
  template: template0

production:
  adapter:  postgresql
  host:     localhost
  encoding: unicode
  database: cloudy_blog_production
  pool:     5
  username: postgres
  password: postgres
  template: template0
