@import "bootstrap-sprockets";
@import "bootstrap";
@import "markdown";
@import "highlight";
@import "blog";
@import "comment";
@import "admin/*";

body {
  font: 15px/1.48 "Inconsolata-g", Consolas, Liberation Mono, "Courier New", Courier, monospace;
  background-color: #fff;
  font-weight: normal;
  color: #414243;
  margin: 0;
  padding: 0;
}

body.view {
  word-spacing: -1px;
  -webkit-font-smoothing: antialiased;
}

.title a {
  display: block;
}

.title {
  cursor: pointer;
}

li.title:hover {
  background-color: #fcf8e3;
}

.panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  background-image: none;
  background-color: #fff;
}

.navbar-default {
  background-image: none;
  background-color: #fff;
  box-shadow: none;
}

main {

}

footer {
  text-align: center;
  color: #888;
  padding: 10px;
  font-size: 14px;
  width: 98%;
  margin: 0 auto 40px auto;
}
